* {
  padding: 0;
  margin: 0;
  border: none
}
*,
*::after,
*::before {
  box-sizing: border-box
}
a {
  text-decoration: none
}
a,
a:link,
a:visited {
  text-decoration: none
}
a:hover {
  text-decoration: none
}
aside,
footer,
header,
main,
nav,
section {
  display: block
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit
}
ul,
ul li {
  list-style: none
}
img {
  vertical-align: top
}
img,
svg {
  max-width: 100%;
  height: auto
}
address {
  font-style: normal
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input::-ms-clear {
  display: none
}
button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: rgba(0,0,0,0);
  background: 0 0;
  cursor: pointer
}
button:active,
button:focus,
input:active,
input:focus {
  outline: 0
}
button::-moz-focus-inner {
  padding: 0;
  border: 0
}
label {
  cursor: pointer
}
legend {
  display: block
}
:root {
  --black-color: #242424;
  --grey-color: #9898b1;
  --white-color: #fdfdfd;
  --red-color: #d62322;
  --red-color-hover: #ff3434
}
body,
html {
  height: 100%;
  font-family: Mont,sans-serif;
  font-weight: 700
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column
}
.wrapper-container {
  flex: 1 1 auto
}
[class*=__container] {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5019607843);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: .4s ease;
  z-index: 12
}
.overlay.active {
  opacity: 1;
  visibility: visible
}
.btn {
  padding: 12px 15px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
  font-family: Mont
}
.btn-red {
  border: 1px solid var(--red-color);
  background-color: var(--red-color);
  transition: all .2s ease-in-out;
  color: var(--white-color)
}
.btn-red:hover {
  background-color: #222;
  border: 1px solid var(--white-color)
}
.btn-white {
  border: 1px solid var(--white-color);
  background-color: var(--white-color);
  transition: all .2s ease-in-out;
  color: var(--red-color)
}
.btn-white:hover {
  background-color: rgba(0,0,0,0);
  color: var(--white-color);
  border: 1px solid var(--white-color)
}
@font-face {
  font-family: Mont;
  font-display: swap;
  src: url(../fonts/Mont-SemiBold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Mont;
  font-display: swap;
  src: url(../fonts/Mont-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url(../fonts/Unbounded-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: icons;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block
}
[class*=" _icon-"]::before,
[class^=_icon-]::before {
  font-family: icons!important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out
}
.header.slidedown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-animation: slidedown .7s forwards;
  animation: slidedown .7s forwards;
  box-shadow: rgba(149,157,165,.2) 0 8px 24px;
  background: rgba(0,0,0,.5019607843);
  backdrop-filter: blur(10px)
}
@-webkit-keyframes slidedown {
  from {
    top: -250px
  }
  to {
    top: 0
  }
}
@keyframes slidedown {
  from {
    top: -250px
  }
  to {
    top: 0
  }
}
.header .container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px
}
.header__blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0
}
.header .menu__list {
  display: flex;
  align-items: center;
  gap: 20px
}
.header .menu__list * {
  color: var(--grey-color);
  transition: color .2s ease-in-out
}
.header .menu__list *:hover {
  color: var(--white-color)
}
.header .details {
  display: flex;
  align-items: center;
  gap: 12px
}
.header .details a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  width: 40px;
  height: 40px;
  background-color: var(--red-color);
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid var(--red-color);
  transition: all .2s ease-in-out;
  padding: 10px;
  color: var(--white-color);
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  text-transform: uppercase
}
.header .details a:hover {
  background-color: #222;
  border: 1px solid var(--white-color)
}
.header .details-mobile {
  display: none
}
.header .languages {
  position: relative
}
.header .languages__dropdown {
  position: absolute;
  margin-top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(242,242,247,.2);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 4px;
  display: none
}
.header .languages__dropdown a {
  background-color: var(--white-color);
  border-radius: 4px;
  border: 1px solid var(--white-color);
  transition: all .2s ease-in-out;
  color: var(--black-color)
}
.header .languages__dropdown a:hover {
  background-color: var(--white-color);
  border: 1px solid var(--red-color)
}
.header .languages__dropdown a.active {
  color: var(--red-color)
}
.header .languages__dropdown.active {
  display: flex
}
.header .menu-btn {
  display: flex;
  flex-direction: column;
  gap: 2px
}
.header .menu-btn span {
  border-radius: 2px;
  width: 20px;
  height: 2px;
  background-color: var(--white-color)
}
.header .mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  max-width: 506px;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 20px 0 0 20px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease,-webkit-transform .4s ease;
  z-index: 9999!important
}
.header .mobile-menu.active {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.header .mobile-menu__blocks {
  padding: 12px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 32px
}
.header .mobile-menu__top {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header .menu-mobile {
  overflow: hidden
}
.header .menu-mobile__slider {
  display: flex;
  width: 200%;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease
}
.header .menu-mobile__page {
  width: 50%;
  flex-shrink: 0
}
.header .menu-mobile__list {
  display: flex;
  flex-direction: column;
  gap: 8px
}
.header .menu-mobile__list li {
  display: flex;
  align-items: center;
  gap: 9px;
  justify-content: space-between;
  background-color: #f2f2f7;
  padding: 8px 12px;
  width: 100%
}
.header .menu-mobile__list li a {
  width: 100%;
  line-height: 24px
}
.header .menu-mobile__list li svg use {
  color: var(--grey-color);
  font-size: 16px!important
}
.header .menu-mobile__list li svg {
  color: var(--grey-color);
  font-size: 16px!important;
  width: 20px;
  height: 7px
}
.header .menu-mobile__list li .icon {
  font-size: 16px!important
}
.header .menu-mobile__list li * {
  font-size: 14px;
  text-transform: capitalize;
  color: var(--black-color);
  font-weight: 800
}
.header .submenu-close,
.header .submenu-open {
  border: 0;
  background: 0 0;
  cursor: pointer
}
.main {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}
.main::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6509803922);
  content: ""
}
.main__wrapper {
  position: relative;
  z-index: 9;
  padding-top: 230px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 40px
}
.main__blocks {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%
}
.main__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 56px;
  padding-bottom: 112px;
  max-width: 890px;
  width: 100%
}
.main__content-top {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px
}
.main__content-top h1 {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: var(--white-color);
  vertical-align: bottom
}
.main__content-top p {
  font-family: Mont;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  vertical-align: bottom;
  color: var(--white-color);
  opacity: 70%
}
.main .btns {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%
}
.main .btns .btn {
  max-width: 270px;
  width: 100%;
  border-radius: 4px;
  text-align: center
}
.main .menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
  justify-content: end
}
.main .menu__list li {
  display: flex;
  white-space: nowrap
}
.main .menu__list * {
  color: var(--grey-color);
  line-height: 24px;
  transition: color .2s ease-in-out
}
.main .menu__list *:hover {
  color: var(--white-color)
}
.main .benefits {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 12px
}
.main .benefits__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  background-color: rgba(255,255,255,.2);
  padding: 20px 25px;
  border: 1px solid rgba(242,242,247,.1019607843);
  border-radius: 10px
}
.main .benefits__icon {
  min-width: 40px;
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center
}
.main .benefits p {
  color: var(--white-color);
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0
}
.about__blocks {
  padding: 56px 0;
  display: flex;
  flex-direction: column;
  gap: 56px
}
.about__top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 32px
}
.about .numbering {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 50%
}
.about .numbering__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: var(--red-color)
}
.about .numbering span {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--grey-color)
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%
}
.about__content span {
  font-size: 15px;
  line-height: 20px;
  color: var(--grey-color)
}
.about__content h1,
.about__content h2,
.about__content h3,
.about__content h4,
.about__content h5,
.about__content h6 {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-color)
}
.about__content h1 strong,
.about__content h2 strong,
.about__content h3 strong,
.about__content h4 strong,
.about__content h5 strong,
.about__content h6 strong {
  font-weight: 400;
  color: var(--grey-color)
}
.about__below,
.about__middle {
  display: flex;
  justify-content: space-between;
  gap: 40px
}
.about__stats {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 32px;
  width: 50%
}
.about__stats .stat {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px
}
.about__stats .stat__number {
  display: flex;
  align-items: center;
  gap: 0;
  font-family: Unbounded;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  line-height: 40px;
  color: var(--red-color)
}
.about__stats .stat p {
  font-size: 16px;
  line-height: 20px;
  color: var(--grey-color)
}
.about__pictures {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  gap: 12px
}
.about__pictures .pic {
  max-width: 182px;
  width: 100%;
  height: 184px;
  overflow: hidden;
  border-radius: 8px
}
.about__pictures .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.about .video__item {
  width: 50%
}
.about .video__item iframe {
  width: 100%;
  height: 300px;
  border-radius: 20px
}
.about .video__preview {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer
}
.about .youtube-pin {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px
}
.about .youtube-pin p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px
}
.about .video__thumb {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block
}
.about .video__play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 3;
  background: rgba(253,253,253,.7333333333);
  width: 56px;
  min-width: 56px;
  height: 56px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center
}
.about .text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  gap: 16px
}
.about .text-block p {
  font-size: 18px;
  line-height: 24px;
  color: var(--black-color);
  vertical-align: middle
}
.about .text-block p strong {
  color: var(--grey-color)
}
.about .text-block a {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  color: var(--red-color);
  transition: all .2s ease-in-out
}
.about .text-block a:hover {
  color: var(--red-color-hover)
}
.about .text-block a:hover .icon {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.about .text-block a .icon {
  width: 24px;
  height: 24px;
  transition: all .2s ease-in-out;
  padding: 7px
}
.faq-cards__blocks {
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  gap: 56px
}
.numbering {
  display: flex;
  align-items: center;
  gap: 12px;
  width: auto
}
.numbering__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: var(--red-color)
}
.numbering span {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--grey-color)
}
.intro-description {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 56px
}
.intro-description__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 56px
}
.intro-description__general {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 440px;
  width: 100%
}
.intro-description__general span {
  font-size: 15px;
  line-height: 20px;
  color: var(--grey-color)
}
.intro-description__general h1,
.intro-description__general h2,
.intro-description__general h3,
.intro-description__general h4,
.intro-description__general h5,
.intro-description__general h6 {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-color)
}
.intro-description__general h1 strong,
.intro-description__general h2 strong,
.intro-description__general h3 strong,
.intro-description__general h4 strong,
.intro-description__general h5 strong,
.intro-description__general h6 strong {
  font-weight: 400;
  color: var(--grey-color)
}
.intro-description__descript {
  max-width: 460px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-color)
}
.faq-fields {
  display: flex;
  flex-direction: column;
  gap: 12px
}
.faq-fields__item {
  background-color: var(--white-color);
  border-radius: 20px
}
.faq-fields__top {
  padding: 32px 40px;
  cursor: pointer;
  display: flex;
  justify-content: space-between
}
.faq-fields__top-left {
  display: flex;
  gap: 115px;
  align-items: center
}
.faq-fields__top .number {
  display: flex;
  align-items: center;
  gap: 9px
}
.faq-fields__top .number span {
  font-family: Unbounded;
  font-weight: 300;
  font-size: 36px;
  line-height: 40px
}
.faq-fields__top .number svg {
  width: 21px;
  height: 24px
}
.faq-fields__top .title {
  font-family: Unbounded;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px
}
.faq-fields__top * {
  color: var(--grey-color)
}
.faq-fields__top .control-panel-btn {
  min-width: 32px;
  width: 32px;
  height: 32px;
  background-color: #f2f2f7;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center
}
.faq-fields__top .control-panel-btn svg {
  width: 16px;
  height: 16px
}
.faq-fields__top .control-panel-btn svg use {
  color: var(--red-color)
}
.faq-fields__content {
  opacity: 0;
  visibility: hidden;
  height: 0
}
.faq-fields__inner {
  padding: 0 24px 32px 40px
}
.slider-cards__blocks {
  padding: 72px 0 44px 0
}
@media (max-width:1024px) {
  .header .menu {
    display: none
  }
  .main .menu {
    display: none
  }
  .about__blocks {
    gap: 40px;
    padding: 44px 0
  }
  .about .numbering span {
    font-size: 13px
  }
  .about__content span {
    font-size: 13px
  }
  .about__content h1,
  .about__content h2,
  .about__content h3,
  .about__content h4,
  .about__content h5,
  .about__content h6 {
    line-height: 28px;
    font-size: 20px
  }
  .about__stats {
    grid-template-columns: repeat(1,1fr)
  }
  .about__stats .stat p {
    font-size: 14px
  }
  .about__pictures {
    grid-template-columns: repeat(1,1fr)
  }
  .about__pictures .pic {
    height: 120px;
    border-radius: 10px;
    max-width: 100%
  }
  .about .video__item iframe {
    border-radius: 10px;
    height: 180px
  }
  .about .video__preview {
    border-radius: 10px;
    height: 180px
  }
  .about .text-block p {
    font-size: 16px
  }
  .about .text-block a {
    font-size: 14px
  }
  .numbering span {
    font-size: 13px
  }
  .intro-description__general span {
    font-size: 13px
  }
  .intro-description__general h1,
  .intro-description__general h2,
  .intro-description__general h3,
  .intro-description__general h4,
  .intro-description__general h5,
  .intro-description__general h6 {
    line-height: 28px;
    font-size: 20px
  }
}
@media (max-width:992px) {
  .main .benefits {
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
    row-gap: 16px;
    width: 100%
  }
  .main .benefits__item {
    flex-direction: row;
    align-items: center;
    padding: 20px
  }
  .main .benefits__icon {
    min-width: 32px;
    width: 32px;
    height: 32px;
    padding: 6px
  }
  .main .benefits p {
    font-size: 13px
  }
}
@media (max-width:768px) {
  .main__wrapper {
    padding-bottom: 32px;
    gap: 0
  }
  .main__blocks {
    gap: 0
  }
  .main__content-top h1 {
    font-size: 28px;
    line-height: 40px
  }
  .main__content-top p {
    font-size: 16px;
    line-height: 20px
  }
  .main__content {
    padding-bottom: 180px;
    gap: 32px
  }
  .main .btns .btn {
    font-size: 15px;
    line-height: 18px
  }
}
@media (max-width:576px) {
  .about__blocks {
    gap: 32px
  }
  .about__top {
    gap: 32px;
    flex-direction: column
  }
  .about__content {
    width: 100%
  }
  .about__below,
  .about__middle {
    gap: 32px;
    flex-direction: column-reverse
  }
  .about__stats {
    width: 100%;
    grid-template-columns: repeat(2,1fr)
  }
  .about__stats .stat {
    gap: 4px
  }
  .about__stats .stat__number {
    font-size: 28px
  }
  .about__stats .stat p {
    font-size: 13px
  }
  .about__pictures {
    width: 100%;
    grid-template-columns: repeat(3,1fr)
  }
  .about__pictures .pic {
    height: 88px
  }
  .about .video__item {
    width: 100%
  }
  .about .video__item iframe {
    width: 100%;
    border-radius: 8px
  }
  .about .video__preview {
    width: 100%;
    border-radius: 8px
  }
  .about .youtube-pin {
    top: 12px;
    left: 12px
  }
  .about .text-block {
    width: 100%;
    gap: 40px
  }
  .about .text-block p {
    line-height: 20px;
    font-size: 14px
  }
}
@media (max-width:480px) {
  .header .logo {
    width: 131px
  }
  .header .details .hide-mob {
    display: none
  }
  .header .details-mobile {
    display: flex
  }
  .main__wrapper {
    padding-top: 108px;
    padding-bottom: 0
  }
  .main__content-top {
    gap: 12px
  }
  .main__content-top h1 {
    line-height: 28px;
    font-size: 24px
  }
  .main__content-top p {
    line-height: 20px;
    font-size: 14px
  }
  .main__content {
    padding-bottom: 72px
  }
  .main .btns {
    flex-direction: column
  }
  .main .btns .btn {
    max-width: 100%;
    width: 100%
  }
  .main .benefits {
    display: none
  }
}